{% extends "_layouts/_layout.twig" %}

   {% block content %}
   <h1 class="mb-20">{{ entry.title }}</h1>
    <span class="text-lg uppercase leading-relaxed">{{ entry.bookAuthor }} &nbsp;|&nbsp; {{ entry.publishedYear}} &nbsp;|&nbsp; <a href="{{ entry.download }}" target="_blank" title="Download link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mb-2 inline-block text-blue-600 hover:text-blue-900">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
    </svg>
    </a></span>

  

    
    <div class="mt-10">

      <div class="md:grid md:grid-cols-6 gap-10 prose-h2:mb-2 prose-h2:mt-6  max-w-none md:mb-20">
        <div class="col-span-2">

{% if entry.bookcover | length %}
          {% for cover in entry.bookcover.all() %}
          <div>
           
        <img src="{{ cover.optimizedBookCover.src() }}"
      srcset="{{ cover.optimizedBookCover.srcsetWebp() }}"
      sizes="100vw" />
          </div>
          {% endfor %}
{% endif %}
        </div>
      <div class="col-span-4">

     


          {% if entry.longformContent | length %}
            {{ entry.longformContent }}
            {% endif %}

        </div>
      </div>
    </div>
  
  




   {% endblock %}