{% extends "_layouts/_layout.twig" %}

{% block content %}
<div class="w-full bg-slate-800 py-6 md:py-10">
    <div class="not-prose max-w-6xl px-2 md:px-4 mx-auto">
        <h1 class="text-2xl md:text-4xl mb-4">{{ entry.title }}</h1>
        <h3 class=" md:text-xl">
            {{ entry.bookAuthor }} &nbsp;|&nbsp; {{ entry.publishedYear }} &nbsp;|&nbsp; 
            <a href="{{ entry.download }}" target="_blank" title="Download link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mb-1 inline-block text-blue-200 hover:text-blue-900">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
            </a>
        </h3>
    </div>

    {# Set parameters for prev/next elements list #}
    {% set params = craft.entries.section('books') %}

    {# Get the prev/next elements #}
    {% set prevEntry = entry.getPrev(params) %}
    {% set nextEntry = entry.getNext(params) %}

    {# Output the links if the element exists #}
    <div class="py-4 max-w-6xl mx-auto mt-10">
        <nav class="flex items-center justify-between px-2 md:px-4" aria-label="Pagination">
            <div class="flex justify-between flex-1 gap-x-2 md:gap-x-4">
                {% if prevEntry %}
                    <a href="{{ prevEntry.url }}" class="flex items-center px-2 md:px-4 py-1 md:py-2 text-xs md:text-sm font-normal md:font-medium text-slate-200 bg-slate-900 border border-slate-600 rounded-md hover:bg-slate-700 transition-colors">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                        </svg>
                        {{ prevEntry.title|slice(0, 20) }}...
                    </a>
                {% endif %}
                
                {% if nextEntry %}
                    <a href="{{ nextEntry.url }}" class="flex items-center px-2 md:px-4 py-1 md:py-2 text-xs md:text-sm font-normal md:font-medium text-slate-200 bg-slate-900 border border-slate-600 rounded-md hover:bg-slate-700 transition-colors">
                       {{ nextEntry.title|slice(0, 20) }}...
                        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>

<div class=" max-w-5xl mx-auto px-4">
    <div class="md:grid md:grid-cols-6 gap-10 prose-h2:mb-2 prose-h2:mt-6 max-w-none md:mb-20">
        <div class="col-span-2">
            {% if entry.bookcover | length %}
                {% for cover in entry.bookcover.all() %}
                    <div>
                        <img src="{{ cover.optimizedBookCover.src() }}"
                             srcset="{{ cover.optimizedBookCover.srcsetWebp() }}"
                             sizes="100vw" alt="Cover image of {{ entry.title }}" />
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-span-4 mt-2">
            {% if entry.longformContent | length %}
                {{ entry.longformContent }}
            {% endif %}
        </div>
    </div>

</div>
{# List and link the titles and authors of other books #}
<div class="mt-10 border-t border-slate-500 not-prose py-4 max-w-6xl mx-auto px-2 md:px-4">
    <h2 class="text-lg md:text-2xl font-medium text-white mb-4">Other Books</h2>
    <ul class="list-none ">
        {% for book in craft.entries.section('books').id('not ' ~ entry.id).all() %}
            <li class="mt-2 text-base md:text-lg">
                <a href="{{ book.url }}" class="text-blue-200 hover:text-blue-900">
                    {{ book.title }}</a>, by {{ book.bookAuthor }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div> 
{% endblock %}