{% extends "_layouts/_layout.twig" %}

   {% block content %}

   <div class="w-full bg-slate-800 py-6 md:py-10 mb-20 md:mb-40">
    <div class="not-prose max-w-6xl px-2 md:px-4 mx-auto">
        <h1 class="text-2xl md:text-4xl mb-4">{{ entry.title }}</h1>
        <h3 class=" md:text-xl max-w-3xl">
           {{ entry.description | markdown }}
        </h3>
    </div>



   <div class="mt-20 md:mt-40 min-h-screen max-w-5xl mx-auto px-4">    
    {{ entry.longformContent }}


    <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-10 not-prose mt-10">
    
    {% set myEntryQuery = craft.entries()
        .section('books')
        .limit(10)
        .orderBy('postDate DESC') %}

    {# Fetch the entries #}
    {% set entries = myEntryQuery.all() %}

    {# Display the entries #}
    {% for entry in entries %}
    <div class="grid grid-cols-12 gap-4 ">
        
            {% if entry.bookcover | length %}
          {% for cover in entry.bookcover.all() %}
          <div class="col-span-4">
            <a href="{{ entry.url }}">
        <img src="{{ cover.optimizedCoverSmall.src() }}"
      srcset="{{ cover.optimizedCoverSmall.srcsetWebp() }}"
      sizes="100vw" class="object-fill" /></a>
          </div>
          {% endfor %}
{% endif %}
<div class="col-span-8">
            <h2 class="text-lg md:text-2xl font-medium"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
            <p class="text-sm md:text-xl">{{ entry.bookAuthor }} | {{ entry.publishedYear}}</p>
</div>
    
        
    </div>
    {% endfor %}
    </div>
   </div>
   {% endblock %}