{% extends "_layouts/_layout.twig" %}

{% block content %}
<div class="py-20 prose-h3:mt-4">
   <h1>{{ entry.title }}</h1>
   <h3 >{{ entry.description }} </h3>
</div>
      {{ entry.longformContent }}

      <div class="grid md:grid-cols-3  gap-10 not-prose">
         {% set myEntryQuery = craft.entries().section('blog').limit(10) %}

         {# Fetch the entries #}
         {% set entries = myEntryQuery.all() %}

         {# Display the entries #}
         {% for entry in entries %}
            <div>
               <div>
                  <span class="mb-2 font-medium inline-block text-gray-700">{{ entry.postDate | date("M d, Y") }}</span>
                  {% set image = entry.image.one() %}
                  <a href="{{ entry.url }}">
                  <img src="{{ image.optimizedBlog.src() }}"
                       srcset="{{ image.optimizedBlog.srcsetWebp() }}"
                       sizes="100vw"
                       class="rounded-sm mb-2" />
                  </a>
               </div>
               <div>
                  <h3 class="text-xl md:text-2xl mb-2">
                     <a href="{{ entry.url }}">{{ entry.title }}</a>
                  </h3>
                  {% if entry.description | length %}
                     <p class="text-gray-700">{{ entry.description }}</p>
                  {% endif %}
               </div>
            </div>
         {% endfor %}
      </div>

{% endblock %}