<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>10 Tower Mews - {{ entry.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
   
</head>
<body class="ltr">
    {% include '_partials/_nav.twig' %}
    <div id="container" class="max-w-7xl mx-auto my-20 px-4">

      
        <div class="grid md:grid-cols-12 md:gap-10">

            
            <div class="col-span-7 prose md:prose-lg max-w-5xl">
                {% block content %}
                    {% if entry.image | length %}
                    {% for image in entry.image.all() %}
                    
                    {{ image.optimizedImage.pictureTag()
                        .imgAttrs({
                            'class': "mx-auto rounded  ",
                            'alt': image.title,
                        })
                        .loadingStrategy('lazy')
                        .placeholder('image')
                        .render() }}
                    
                    {% endfor %}
                    {% endif %}
                        {{ entry.richContent }}
                {% endblock %}
        </div>
            <div class="col-span-5">
                <h2 class="text-xl md:text-2xl mb-4 ">Blog</h2>
                {# Create an entry query with the 'section' and 'limit' parameters #}
                {% set myEntryQuery = craft.entries()
                    .section('blog')
                    .limit(5) %}

                {# Fetch the entries #}
                {% set entries = myEntryQuery.all() %}

                {# Display the entries #}
                {% for entry in entries %}
                    <article>
             
                            <div class=" mt-2 font-normal flex flex-row">
                                <div class="basis-1/4">{{ entry.postDate | date('short') }}</div><div class="basis-3/4"><a href="{{ entry.url }}" class="text-blue-600">{{ entry.title }}</a></div>
                            </div>
  
                                 
                    </article>
                {% endfor %}
       

  
                <h2 class="text-xl md:text-2xl mb-4  mt-8 ">Places</h2>
                {# Create an entry query with the 'section' and 'limit' parameters #}
                {% set myEntryQuery = craft.entries()
                    .section('places')
                    .limit(5) %}

                {# Fetch the entries #}
                {% set entries = myEntryQuery.all() %}

                {# Display the entries #}
                {% for entry in entries %}
                <article>
                    <div class=" mt-2 font-normal flex flex-row">
                        <div class="basis-1/4">{{ entry.postDate | date('short') }}</div><div class="basis-3/4"><a href="{{ entry.url }}" class="text-blue-600">{{ entry.title }}</a></div>                   
                     </div>

                             
                </article>
            {% endfor %}
    

            <h2 class="text-xl md:text-2xl mb-4  mt-8 ">Reading</h2>
                {# Create an entry query with the 'section' and 'limit' parameters #}
                {% set myEntryQuery = craft.entries()
                    .section('books')
                    .limit(10)
                    .orderBy('postDate DESC') %}

                {# Fetch the entries #}
                {% set entries = myEntryQuery.all() %}

                {# Display the entries #}
                {% for entry in entries %}
                <article>
                    <div class=" mt-2 font-normal flex flex-row">
                        <div class="basis-1/4">{{ entry.postDate | date('short') }}</div><div class="basis-3/4"><a href="{{ entry.url }}" class="text-blue-600">{{ entry.title }}</a></div>
                    </div>

                             
                </article>
            {% endfor %}


   
            <h2 class="text-xl md:text-2xl mb-4  mt-8 ">Photos</h2>
                {# Create an entry query with the 'section' and 'limit' parameters #}
                {% set myEntryQuery = craft.entries()
                    .section('photos')
                    .limit(5) %}

                {# Fetch the entries #}
                {% set entries = myEntryQuery.all() %}

                {# Display the entries #}
                {% for entry in entries %}
                <article>
                    <div class=" mt-2 font-normal flex flex-row">
                        <div class="basis-1/4">{{ entry.postDate | date('short') }}</div><div class="basis-3/4"><a href="{{ entry.url }}" class="text-blue-600">{{ entry.title }}</a></div>
                    </div>

                             
                </article>
            {% endfor %}
    
     
        </div>
        


    </div>
    </div>
</body>
</html>
