{% extends "_layouts/_layout.twig" %}

{% block content %}
<div class="w-full bg-slate-900 py-6 md:py-20">
    <div class="py-4 md:py-10 px-4 prose-h1:mb-2 prose-h3:mt-0 md:prose-h3:mt-4 prose-h1:text-white prose-h3:text-white mx-auto max-w-6xl">
    <h1>{{ entry.title }}</h1>
    <h3 >{{ entry.description }} </h3>
</div>
</div>
    {{ entry.richContent }}
    <div x-data="photoGallery()" class="mt-10 min-h-screen max-w-6xl mx-auto px-4">
    <div id="photo-gallery" class="grid grid-cols-2 md:grid-cols-3 gap-6 not-prose">
        {% paginate entry.photo.limit(9) as pageInfo, photos %}
        {% for photo in photos %}
            <div>
                <a href="{{ photo.getUrl() }}" class="glightbox">
                       {{ photo.optimizedPhoto.pictureTag()
                        .placeholder('image')
                        .imgAttrs({
                            'class': 'rounded shadow-lg',
                        })
                        .render() }}
                </a>
            </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        {% if pageInfo.prevUrl %}
            <a href="{{ pageInfo.prevUrl }}" @click.prevent="loadPage('{{ pageInfo.prevUrl }}')">Previous</a>
        {% endif %}
        {% if pageInfo.nextUrl %}
            <a href="{{ pageInfo.nextUrl }}" @click.prevent="loadPage('{{ pageInfo.nextUrl }}')">Next</a>
        {% endif %}
    </div>
    <script>
        function photoGallery() {
            return {
                loadPage(url) {
                    fetch(url)
                        .then(response => response.text())
                        .then(html => {
                            const parser = new DOMParser();
                            const doc = parser.parseFromString(html, 'text/html');
                            const newGallery = doc.querySelector('#photo-gallery').innerHTML;
                            document.querySelector('#photo-gallery').innerHTML = newGallery;
                            GLightbox({
                                touchNavigation: true,
                                loop: true,
                                autoplayVideos: true
                            });
                        });
                }
            }
        }

        document.addEventListener('alpine:init', () => {
            Alpine.data('photoGallery', photoGallery);
        });

        document.addEventListener('DOMContentLoaded', () => {
            GLightbox({
                touchNavigation: true,
                loop: true,
                autoplayVideos: true
            });
        });
    </script>
</div>
{% endblock %}
