{% extends "_layouts/_layout.twig" %}
   {% block content %} 
   <div class="py-10 prose-h3:mt-4">
      <h1>{{ entry.title }}</h1>
      <h3 >{{ entry.description }} </h3>
   </div>
   <!-- Conditional for the places map type -->
   {% if entry.section.handle == 'places' %}
   <div class="not-prose w-full mb-20">
       {% set entries = entry.hotSpots.all() %}
       {% set options = {
           'id': 'my-map-5',
           'infoWindowTemplate': '_partials/info-window.twig'
       } %}
       
       {# Display a dynamic map with all entries #}
       {{ googleMaps.map(entries, options).tag() }}
       
       {# Loop through all entries #}
       {% for entry in entries %}
           {# Compile each marker ID #}
           {% set markerId = "#{entry.id}-googleAddress" %}
           
           {# On click, open the info window of the specified marker #}
           <div onclick="infoWindow('{{ markerId }}')"></div>
       {% endfor %}
       
       {# JavaScript function to switch info windows #}
       <script>
           function infoWindow(markerId) {
               googleMaps.getMap('my-map-5')    // Get the map
                   .closeInfoWindow('*')      // Close all info windows
                   .openInfoWindow(markerId); // Open the specified info window
           }
       </script>
   </div>
{% endif %}
<!-- End map -->
    {{ entry.longformContent }}

 {% endblock %}